<h1>All the Products</h1>
<h3>Adding a Product?</h3>
<p>Click on The link that I am going to give you</p>
<p>When I figure out...</p>
<p>The Link Tag in Rails...</p>

<%= link_to "CLICK HERE", new_product_path  %>

<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Price</th>
		<th>Published</th>
		<th>edit</th>
		<th>delete</th>
	</tr>
	<%  @products.each do |product| %> 
	<tr>
		<td><%= product.name %></td>
		<td><%= product.description %></td>
		<td><%= product.price %></td>
		<td><%= product.published %></td>
		<td><%= link_to "edit", edit_product_path(product) %> </td>
		<td><%= link_to 'Destroy', product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %> 
	 	
</table>

